PORT=8003
DB_PATH=/home/puadmin2/bodega.database/invoicemail.db
API_KEY=replace_with_strong_api_key

IMAP_SERVER=imap.dreamhost.com
IMAP_USER=your-email@your-domain.com
IMAP_PASS=your-email-password
RETRIEVAL_DAYS=1

AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=your-s3-bucket-name
S3_PATH_PREFIX=2026
